main {
    --Gap: 0.8rem;
    &>* {
        width: var(--BaseWidth);
    }
    &>h1 {
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--ForegroundColor);
    }
}

.Logo {
    --PathLength: 1006;
    margin: 3rem auto;
    max-width: 8rem;
    fill: var(--Black);
    stroke: var(--Black);
    background-color: var(--White);
    border-radius: 50%;
}

@keyframes Eye {
    0% {
        transform: scale(1, 1);
    }
    10% {
        transform: scale(1, 1);
    }
    11% {
        transform: scale(1, 0.1);
    }
    13% {
        transform: scale(1, 1);
    }
    82% {
        transform: scale(1, 1);
    }
    83% {
        transform: scale(1, 0.1);
    }
    84% {
        transform: scale(1, 1);
    }
    85% {
        transform: scale(1, 0.1);
    }
    86% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}

.Eye {
    animation: 6s Eye infinite;
}

figure {
    max-width: var(--BaseWidth);
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--ForegroundColor);
    &>img {
        display: block;
        width: 100%;
    }
}

.App {
    clear: both;
    margin: 2rem auto;
    &>h3 {
        transform: translateY(-0.5rem);
        margin-bottom: 0;
        text-decoration: none;
    }
    &>figure {
        float: right;
        width: calc((var(--BaseWidth) - var(--Gap)) / 2);
        margin-left: calc(var(--Gap) + 0.5rem);
    }
    &::after {
        clear: both;
        content: '';
        display: block;
        height: 1rem;
        width: 2rem;
        margin-top: 1.5rem;
        background-image: linear-gradient(0deg, var(--ForegroundColor), var(--ForegroundColor));
        background-size: 100% 1px;
        background-position: bottom;
        background-repeat: no-repeat;
        transform: translateY(-100%);
    }
}

.TweetList {
    --CardWidth: calc((var(--BaseWidth) - var(--Gap)) / 2);
    margin: 1rem auto calc(2rem - var(--Gap)) auto;
    &>* {
        width: var(--CardWidth);
        margin-bottom: var(--Gap);
    }
    &>:nth-child(2n+1) {
        float: left;
    }
    &>:nth-child(2n) {
        float: right;
    }
    &::after {
        clear: both;
        content: '';
        display: block;
        width: 100%;
        height: 0;
    }
    @media (max-width: 775px) {
        margin-bottom: calc(var(--BasePadding) - var(--Gap));
    }
    @media (max-width: 600px) {
        --CardWidth: 75vw;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        margin-bottom: 4vw;
        overflow-x: auto;
        &>* {
            float: none;
            flex: 0 0 var(--CardWidth);
            margin-right: var(--Gap);
            margin-bottom: 0;
        }
        &>:last-child {
            margin-right: 0;
        }
        &::before, &::after {
            flex: 0 0 var(--BasePadding);
            content: '';
            display: block;
            height: auto;
        }
    }
}
